html{
    font-size: 62.25%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


h2 {
    font-size: 3rem;
}

.form-header {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    margin: 2rem auto;
}

.form-container{
    width: 42rem;
    margin: 0 auto;
    padding: 4rem;
}

.form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    width: 100%;
}

input{
    height: 4rem;
    border-radius: 5px;
    border: 0.1rem solid rgb(170, 170, 170);
    padding: 0.4rem 1rem;
    font-size: 1.6rem;
    box-sizing: border-box;
}

.cursor{
    cursor: pointer;
}

.half-width {
    width:48%;
}

.two-input{
    display: flex;
    justify-content: space-between;
}

.mb-16 {
    margin-bottom: 1.6rem;
}

.checkbox {
    display: flex;
    align-items: center;
    width: 20%;
}

.checkbox-text{
    font-size: 1.2rem;
    margin-left: 0.3rem;
    font-weight: 600;
}

.flex{
    display: flex;
}

.agreement{
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 0;
}

.register-highlight {
    border: 0.1rem solid white;
    background-color: rgb(10,97,151);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
}

.terms-and-conditions-highlight{
    color: mediumturquoise;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-register,
.btn-signin {
  height: 4rem;
  border-radius: 0.6rem;
  border: 0.1rem solid white;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn-register{
    background-color: rgb(10,97,151);
}

.btn-signin {
    background-color: darkseagreen;
}